[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
pandas = "2.2.2"
numpy = "==2.1.0"
attrs = "==21.2.0"
matplotlib = "*"
pyodbc = "==5.2.0"
scipy = "==1.14.1"
seaborn = "*"
statsmodels = "*"
scikit-learn = "*"
openpyxl = "*"
psutil = "*"
pyarrow = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.12.6"